.hero .btn-get-started {
  background-color: #f27036;
  box-shadow: 0px 5px 30px rgba(242, 112, 54, 0.4);
}
.about .btn-read-more {
  background-color: #f27036;
  box-shadow: 0px 5px 30px rgba(242, 112, 54, 0.4);
}
.contact .php-email-form button[type="submit"] {
  background-color: #f27036;
}
.back-to-top {
  background-color: #f27036;
}
.features .feature-box:hover i {
  background: #f27036;
  color: #fff;
}
